<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo"><h1>Gadget Corner</h1></a>
        <nav>
            <ul>
                <li>
                    <div> <a routerLink="/cart-page">Cart</a></div>
                    <div> <a routerLink="/login">Login</a></div>
                    <div>
                        <a routerLink="/signup">Register</a>
                    </div>
                    <div>
                        <a routerLink="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>