<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

    <script src="https://kit.fontawesome.com/b7926f3752.js"  crossorigin="anonymous"></script>


</head>

<body style="margin: 0px;">
    <div style="display: flex; justify-content: space-between;">
        <div>
            <span class="logo"> <img src="logo.jpg"> </span>
        </div>
        <div style="display: flex;">
            <button class="buttons">Home</button>
            <button class="buttons">Doctor</button>
            <button class="buttons">Page</button>
            <button class="buttons">Departments</button>
            <button class="buttons">Pricing</button>
            <button class="buttons">Blog</button>
            <button class="buttons">Contact us</button>
            <i class="fa fa-shopping-cart menu_btn"
                style="display: flex; margin-top: 20px;margin-left: 20px;font-size: larger;"></i>
            <i class="fa fa-search" style="display: flex; margin-left: 30px; margin-top: 20px;font-size: larger;"></i>

        </div>
        <div class="appointment">
            <p>Make Appointment</p>
        </div>
    </div>
    <div
        style="background-image:url('background.jpg');background-repeat: no-repeat;background-size: 100%;height: 80vh;display: flex;margin-top:5px;padding:0;">
        <p
            style="writing-mode:vertical-lr;text-orientation: sideways-right;margin-top: 140px;margin-right:0;margin-left:45px;font-size: large;">
            Follow us:-
            <button
                style="border-radius:1rem;border: none;margin-left:0;margin-top:5px;margin-right:5px;color: blue;"><i
                    class="fa fa-twitter" aria-hidden="true"></i></button>
            <button
                style="border-radius:1rem;border: none;margin-left:0;margin-top:5px;margin-right:5px;color: blue;"><i
                    class="fa fa-facebook" aria-hidden="true"></i></button>
            <button
                style="border-radius:1rem;border: none;margin-left:0;margin-top:5px;margin-right:5px;color: blue;"><i
                    class="fa fa-instagram" aria-hidden="true"></i></button>
        </p>
        <pre>
    <p style="margin-left: 40px;margin-top: 100px;font-size:5vh;font-weight: 900;margin-bottom: 0;"><b>We Provide best service
for our customer.</b></p>
     <p style="margin: 0; margin-left: 30PX;font-size:2.7vh;margin-top:0;display: flex; margin-bottom:0;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> "Laboratory An absolutely amazing and and exciting paper",said David Reich a genetic
  professor at Harvard who focuses on ancient DNA until recently conection planet. 
         </p>
         <button style="margin-left:0px;background-color: rgb(48, 174, 67);color: white;
         border: none;height:50px;width: 150px;border-radius:0.2rem;margin-top:0;margin-right: 100px;">Know more</button>
    </pre>
    </div>
    <div>
        <p style="text-align:center;font-size: xx-large;margin-top: 50px;margin-bottom: 0;"><b>Medical Service</b></p>
        <pre>
        <p style="text-align: center;margin-top:0;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-bottom: 0;">Finish after losing each of the first two games by a goal He is a true professional the way he trains
and the way he prepares angers goaltender Henrique Lundqvist said he does his job very well</p>
    </pre>
    </div>
    <div class="grid-container">
        <div class="grid-item" style="background-color:rgb(75,204,43);position: relative;"><img src="img-1.jpg" alt=""
                style="width:100%;height:100%;opacity: 0.3">
            <div>
                <p style="position:absolute;top:110px;left:120px;color:white;font-size:20px;">Health Care</p>
            </div>
        </div>
        <div class="grid-item" style="background-color:blue;position: relative;"><img src="img-2.jpg" alt=""
                style="width:100%;height:100%;opacity: 0.3;">
            <div>
                <p style="position:absolute;top:110px;left:110px;color:white;font-size:20px;">Emergency Unit</p>
            </div>
        </div>
        <div class="grid-item" style="background-color: rgb(75, 204, 43);position: relative;"><img src="img-3.jpg"
                alt="" style="width:100%;height:100%;opacity: 0.3">
            <div>
                <p style="position:absolute;top:110px;left:80px;color:white;font-size:20px;">Ambulance Service</p>
            </div>
        </div>
        <div class="grid-item" style="background-color:blue;position: relative;"><img src="img-4.jpg" alt=""
                style="width:100%;height:100%;opacity: 0.3">
            <div>
                <p style="position:absolute;top:110px;left:90px;color:white;font-size:20px;">Eye Care Solutions</p>
            </div>
        </div>
        <div class="grid-item" style="background-color: rgb(75, 204, 43);position: relative;"><img src="img-5.jpg"
                alt="" style="width:100%;height:100%;opacity: 0.3">
            <div>
                <p style="position:absolute;top:110px;left:70px;color:white;font-size:20px;">Medicines And Drug Store
                </p>
            </div>
        </div>
        <div class="grid-item" style="background-color:blue;position: relative;"><img src="img-6.jpg" alt=""
                style="width:100%;height:100%;opacity: 0.3">
            <div>
                <p style="position:absolute;top:110px;left:120px;color:white;font-size:20px;">DNA Testing</p>
            </div>
        </div>
    </div>
    <div>
        <p style="justify-content: center;display: flex;font-size: xx-large;font-weight: 800;margin-top:40px;">Fix an
            Appointment</p>
        <pre>
            <p style="text-align: center;margin-top:0;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;padding: 0;">Finish after losing each of the first two games by a goal He is a true professional the way he trains
    and the way he prepares angers goaltender Henrique Lundqvist said he does his job very well</p>
        </pre>
        <div style="display: flex;">
            <div>
                <img src="appointmentimg.jpg" alt="" style="display: flex;margin-left: 60px;height:550px;width: 500px;">
            </div>
            <div style="width: 1000px;">
                <form>
                    <input type="text" placeholder="Name" name="name"
                        style=" margin-left:25%;margin-top:15px;width:500px;height:50px;border-radius:1.5rem;border: none;background-color: rgb(247, 247, 247);">
                    <input type="number" placeholder="Phone" name="phone"
                        style=" margin-left:25%;margin-top:15px;width:500px;height:50px;border-radius:1.5rem;border: none;background-color: rgb(247, 247, 247);">
                    <div style="display: flex;">
                        <input type="text" placeholder="What type of service" name="What type of service"
                            style=" margin-left:25%;margin-top:15px;width:400px;height:50px;border-radius:1.5rem 0 0 1.5rem;border:1px solid rgb(247, 247, 247);background-color: rgb(247, 247, 247);border-right:0px;">
                        <button
                            style="background-color: rgb(75, 204, 43);height:54px;margin-top:15.3px;border-radius: 0 1.5rem 1.5rem 0;width:95px;border: 1px solid rgb(75, 204, 43);">
                            <ion-icon name="arrow-dropdown" style="color: white;font-size: 30px;"></ion-icon></i>
                        </button>
                    </div>
                    <div style="display:flex;">
                        <input type="text" placeholder="Doctors" name="Doctors"
                            style=" margin-left:25%;margin-top:15px;width:400px;height:50px;border-radius:1.5rem 0 0 1.5rem;border:1px solid rgb(247, 247, 247);background-color: rgb(247, 247, 247);border-right:0px;">
                        <button type="text"
                            style="background-color: rgb(75, 204, 43);height:54px;margin-top:15.3px;border-radius: 0 1.5rem 1.5rem 0;width:95px;border: 1px solid  rgb(75, 204, 43);">
                            <ion-icon name="arrow-dropdown" style="color: white;font-size: 30px;"></ion-icon>
                        </button>
                    </div>
                    <div style="display: flex;">
                        <input type="text" placeholder="Appointment Date" name="Appointment Date"
                            style=" margin-left:25%;margin-top:15px;width:400px;height:50px;border-radius:1.5rem 0 0 1.5rem;border:1px solid rgb(247, 247, 247);background-color: rgb(247, 247, 247);border-right:0px;">
                        <button type="text"
                            style="background-color: rgb(75, 204, 43);height:54px;margin-top:15.3px;border-radius: 0 1.5rem 1.5rem 0;width:95px;border: 1px solid  rgb(75, 204, 43);">
                            <ion-icon name="calendar" style="color: white; font-size: 30px;"></ion-icon>
                        </button>
                    </div>
                    <div style="display: flex; ">
                        <div style="display:flex;">
                            <div style="display: flex;">
                                <input type="text" placeholder="From" name="from"
                                    style=" margin-left:70%;margin-top:15px;width:200px;height:50px;border-radius:1.5rem 0 0 1.5rem;border:1px solid rgb(247, 247, 247);background-color: rgb(247, 247, 247);border-right:0px;">
                                <button type="text"
                                    style="background-color: rgb(75, 204, 43);height:54px;margin-top:15.3px;border-radius: 0 1.5rem 1.5rem 0;width:40px;border: 1px solid  rgb(75, 204, 43);">
                                    <ion-icon name="time" style="color: white; font-size: 30px;"></ion-icon>
                                </button>
                            </div>
                        </div>

                        <div style="display: flex;">
                            <input type="text" placeholder="To" name="To"
                                style=" margin-left:81%;margin-top:15px;width:170px;height:50px;border-radius:1.5rem 0 0 1.5rem;border:1px solid rgb(247, 247, 247);background-color: rgb(247, 247, 247);border-right:0px;">
                            <button type="text"
                                style="background-color: rgb(75, 204, 43);height:54px;margin-top:15.3px;border-radius: 0 1.5rem 1.5rem 0;width:95px;border: 1px solid  rgb(75, 204, 43);">
                                <ion-icon name="time" style="color: white; font-size: 30px;"></ion-icon>
                            </button>
                        </div>
                    </div>
                    <div>
                        <button type="submit"
                            style=" margin-left:25%;margin-top:15px;width:500px;height:50px;border-radius:1.5rem ;border:1px solid rgb(247, 247, 247);background-color: rgb(75, 204, 43);border-right:0px;color: white;font-weight: 700;">Submit
                            Now</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <p style="justify-content: center;display: flex;font-size: xx-large;font-weight: 800;margin-top:40px;">Meet
                with our Doctors
            </p>
            <pre>
                <p style="text-align: center;margin-top:0;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;padding: 0;">Finish after losing each of the first two games by a goal He is a true professional the way he trains
        and the way he prepares angers goaltender Henrique Lundqvist said he does his job very well</p>
            </pre>

            <div style="display: flex;justify-content:center; width: 100%; margin-top: 7%;">

                <div>
                    <img src=" doctor1.PNG " alt=" " style="margin-left: 15%;">
                    <h4 class="text_doctor">Dixie Armstrong</h4>
                    <h5 class="text_doctor" style="margin-top:-15px;">Senior Doctor</h4>
                        <div class="icon_div">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter icon_doctor"></i>
                            <i class="fa fa-instagram icon_doctor"></i>
                            <i class="fa fa-linkedin icon_doctor" aria-hidden="true"></i>
                        </div>
                        <div style="display: flex; justify-content: center;">
                            <h5 class="text_doctor">
                                Saturn and its innermost ring on april 26, the firstof 22such encounters before will
                                plunge into saturn's atmosphere in september
                            </h5>
                        </div>
                </div>
                <div style="margin-left: 10%;">
                    <img src=" doctor2.PNG " alt=" " style="margin-left: 15%;">
                    <h4 class="text_doctor ">Angela Mayer</h4>
                    <h5 class="text_doctor " style="margin-top:-15px; ">Senior Doctor</h5>
                    <div class="icon_div ">
                        <i class="fa fa-facebook "></i>
                        <i class="fa fa-twitter icon_doctor "></i>
                        <i class="fa fa-instagram icon_doctor "></i>
                        <i class="fa fa-linkedin icon_doctor " aria-hidden="true "></i>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <h5 class="text_doctor">
                            Saturn and its innermost ring on april 26, the firstof 22such encounters before will plunge
                            into saturn's atmosphere in september
                        </h5>
                    </div>
                </div>
                <div style="margin-left: 10%; ">
                    <img src="doctor3.PNG " alt=" " style="margin-left: 15%;">
                    <h4 class="text_doctor ">Nana Ruecker</h4>
                    <h5 class="text_doctor " style="margin-top:-15px; ">Senior Doctor</h5>
                    <div class="icon_div ">
                        <i class="fa fa-facebook "></i>
                        <i class="fa fa-twitter icon_doctor "></i>
                        <i class="fa fa-instagram icon_doctor "></i>
                        <i class="fa fa-linkedin icon_doctor " aria-hidden="true "></i>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <h5 class="text_doctor">
                            Saturn and its innermost ring on april 26, the firstof 22such encounters before will plunge
                            into saturn's atmosphere in september
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p style="text-align:center;font-size: xx-large;margin-top: 50px;margin-bottom: 0;font-weight: 700;">Our
                Departments</p>
            <pre>
                <p style="text-align: center;margin-top:0;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-bottom: 0;font-weight: 580;">Finish after losing each of the first two games by a goal He is a true professional the way he trains
 and the way he prepares angers goaltender Henrique Lundqvist said he does his job very well</p>
            </pre>
        </div>
        <div
            style="display:flex;justify-content:center; margin-top: 0%;background-color: rgb(75, 204, 43);height:150px;">
            <div>
                <img src="neurology.png" style="padding:30px ;height:60px"></img>
                <p style="margin-top: -25px;margin-left: 20px;font-weight: 800;">Neurology</p>
            </div>
            <div>
                <img src="tooth.png" style="padding:30px ;height:60px"></img>
                <p style="margin-top: -25px;margin-left: 20px;font-weight: 800;">Dental Care</p>
            </div>
            <div>
                <img src="eye.png" style="padding:30px ;height:60px"></img>
                <p style="margin-top: -25px;margin-left: 20px;font-weight: 800;">Eye Care</p>
            </div>
            <div>
                <img src="ear.png" style="padding:30px ;height:60px"></img>
                <p style="margin-top: -25px;margin-left: 20px;font-weight: 800;">ENT Center</p>
            </div>
            <div>
                <img src="heart.png" style="padding:30px;height:60px"></img>
                <p style="margin-top: -25px;margin-left: 20px;font-weight: 800;">Cardiac Surgery</p>
            </div>
            <div>
                <img src="phone.png" style="padding:30px ;height:60px"></img>
                <p style="margin-top: -25px;margin-left: 20px;font-weight: 800;">Emergency Call</p>
            </div>
        </div>
        <div style="display:flex; margin-top: 7%;">
            <div style="margin-left: 3%;">
                <img src="baby_doctor.PNG" alt=""
                    style="box-shadow: 100px 100px 0px -50px rgb(127, 182, 45); border-radius: 35px; height: 100%; width: 550px;">
            </div>
            <div style="margin-left: 10%;">
                <div style="width: 60%;">
                    <p style="font-size: 35px;">
                        See here about our <b> Nurology </b> Departments
                    </p>
                </div>
                <div style="width: 85%;">
                    <p style="font-size: 18px;">
                        Promise to open new avenues of research into humans pre history and was met with excitment by
                        genetics and archaelogists.It's a bit like discovering that you can exactgold dust fromthe
                        air".said Adam Siepel, a population genetics at Cold Spring...
                    </p>
                    <p>
                        Know more >
                    </p>
                </div>

            </div>
        </div>
        <div>
            <p style="text-align:center;font-size: xx-large;margin-top: 50px;margin-bottom: 0;font-weight: 700;">Our
                Latest News</p>
            <pre>
                <p style="text-align: center;margin-top:0;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-bottom: 0;font-weight: 580;">Finish after losing each of the first two games by a goal He is a true professional the way he trains
 and the way he prepares angers goaltender Henrique Lundqvist said he does his job very well</p>
            </pre>
        </div>
        <div class="grid-container" style="justify-content: center;column-gap: 30px;">
            <div class="grid-item" style="position:relative;background-color:rgb(90,90,90)">
                <img src="operation.jpg" style="width:100%;height:100%;opacity: 0.3;">
                <div>
                    <p
                        style="position:absolute;top:50px;left:80px;color:rgb(255, 255, 255);font-size:20px;font-weight: 800;">
                        Center For Medical</p>
                </div>
                <div>
                    <p
                        style="position:absolute;top:100px;left:90px;color:rgb(255, 255, 255);font-size:15px;font-weight: 500;">
                        Date:21/09/2017</p>
                </div>
            </div>
            <div class="grid-item" style="position:relative;background-color:rgb(90,90,90)">
                <img src="testing.webp" style="width:100%;height:100%;opacity: 0.3">
                <div>
                    <p
                        style="position:absolute;top:50px;left:80px;color:rgb(255, 255, 255);font-size:20px;font-weight: 800;">
                        Laboratory Test</p>
                </div>
                <div>
                    <p
                        style="position:absolute;top:100px;left:90px;color:rgb(255, 255, 255);font-size:15px;font-weight: 500;">
                        Date:14/09/2017</p>
                </div>
            </div>
            <div class="grid-item" style="position:relative;background-color:rgb(90,90,90)">
                <img src="maternityward.jpg" style="width:100%;height:100%;opacity: 0.3">
                <div>
                    <p
                        style="position:absolute;top:50px;left:30px;color:rgb(255, 255, 255);font-size:20px;font-weight: 800;margin-right: 50px;">
                        Modern Maternity Ward in Hospital</p>
                </div>
                <div>
                    <p
                        style="position:absolute;top:120px;left:90px;color:rgb(255, 255, 255);font-size:15px;font-weight: 500;">
                        Date:21/09/2017</p>
                </div>
            </div>
        </div>
        <div class="grid-container" style="justify-content: center;column-gap: 30px;margin-top:7px;">
            <div class="grid-item" style="position:relative;background-color:rgb(90,90,90)">
                <img src="research.jpg" style="width:100%;height:100%;opacity: 0.3">
                <div>
                    <p
                        style="position:absolute;top:50px;left:80px;color:rgb(255, 255, 255);font-size:20px;font-weight: 800;">
                        Research enter</p>
                </div>
                <div>
                    <p
                        style="position:absolute;top:100px;left:90px;color:rgb(255, 255, 255);font-size:15px;font-weight: 500;">
                        Date:13/09/2017</p>
                </div>
            </div>
            <div class="grid-item" style="position:relative;background-color:rgb(90,90,90)">
                <img src="dan.jpg" style="width:100%;height:100%;opacity: 0.3">
                <div>
                    <p
                        style="position:absolute;top:50px;left:80px;color:rgb(255, 255, 255);font-size:20px;font-weight: 800;">
                        Dna Research</p>
                </div>
                <div>
                    <p
                        style="position:absolute;top:100px;left:90px;color:rgb(255, 255, 255);font-size:15px;font-weight: 500;">
                        Date:19/09/2017</p>
                </div>
            </div>
        </div>
        <div style=" display: flex;background-color: #071c32; padding: 25px; margin-top: 10%;">
            <div style="width:25%;margin-left: 5%;">
                <div class="">
                    <img src="logo.jpg" class="img_icon" style="border-radius: 5px;width: 15%;" />
                    <div style="color: rgb(127, 182, 45);">
                        <h3>Health Solution</h3>
                    </div>
                </div>
                <div>
                    <h5 class="first_column" style="width:60%; color: white;">Tracks along the Hawalian Emperor chain
                        formedober thesame hot spot in thePacific ocean and why are their chemical compositions.</h5>
                </div>
                <div>
                    <i class="fa fa-facebook" style="color: white;"></i>
                    <i class="fa fa-twitter icon_doctor" style="color: white;"></i>
                    <i class="fa fa-instagram icon_doctor" style="color: white;"></i>
                    <i class="fa fa-google-plus icon_doctor" style="color: white;"></i>
                </div>
            </div>
            <div style="width:25%;">
                <h3 class="text_info" style="color: rgb(127, 182, 45); margin-top: 0%;">About us </h3>
                <p class="text_info" style="color: white;">Services</p>
                <p class="text_info"style="color:white">Doctors</p>
                <p class="text_info"style="color:white">Appoitments</p>
                <p class="text_info"style="color:white">FAQ</p>
                <p class="text_info"style="color:white">Contact</p>
            </div>
            <div style="width:25%;">
                <h3 class="text_info" style="color: rgb(127, 182, 45); margin-top: 0%;">Contact Info </h3>
                <span style="display: flex; justify-content: left; margin-top: -10%;">
                    <i class="fa fa-phone" style="color: white; margin-top: 12%; margin-right: 5%;"></i>
                    <h5 class="text_info" style="margin-top: 12%; color: white;">+916355980552</h5>
                </span>
                <span style="display: flex; justify-content: left; margin-top: -10%;">
                    <i class="fa fa-envelope" style="color: white; margin-top: 12%; margin-right: 5%;"></i>
                    <h5 class="text_info" style="margin-top: 12%;color: white;">rushabh.mehta@aimdek.com</h5>
                </span>
                <span style="display: flex; justify-content: left; margin-top: -10%;">
                    <i class="fa fa-home" style="color: white; margin-top: 12%; margin-right: 5%;"></i>
                    <h5 class="text_info" style="margin-top: 12%;color: white;">+91 6355980552</h5>
                </span>
            </div>

            <div style="width:30%;">
                <h3 class="text_info" style="color: rgb(127, 182, 45); margin-top: 0%;">Office Hours</h3>
                <span style="display: flex; justify-content: left; margin-top: -5%;">
                    <h5 class="text_info" style="width:100px;color: white;">Monday</h5>
                    <h5 class="text_info"style="color:white;">09:00 - 20:00</h5>
                </span>
                <span style="display: flex; justify-content: left; margin-top: -5%;">
                    <h5 class="text_info" style="width:100px;color: white;">Tuesday</h5>
                    <h5 class="text_info"style="color:white;">09:00 - 20:00</h5>
                </span>
                <span style="display: flex; justify-content: left; margin-top: -5%;">
                    <h5 class="text_info" style="width:100px;color: white;">Wednesday</h5>
                    <h5 class="text_info"style="color:white;">09:00 - 20:00</h5>
                </span>
                <span style="display: flex; justify-content: left; margin-top: -5%;">
                    <h5 class="text_info" style="width:100px;color: white;">Thursday</h5>
                    <h5 class="text_info"style="color:white;">09:00 - 20:00</h5>
                </span>
                <span style="display: flex; justify-content: left; margin-top: -5%;">
                    <h5 class="text_info" style="width:100px;color: white;">Friday</h5>
                    <h5 class="text_info"style="color:white;">09:00 - 20:00</h5>
                </span>
                <span style="display: flex; justify-content: left; margin-top: -5%;">
                    <h5 class="text_info" style="width:100px;color: white;">Saturday</h5>
                    <h5 class="text_info"style="color:white;">09:00 - 20:00</h5>
                </span>
                <span style="display: flex; justify-content: left; margin-top: -5%;">
                    <h5 class="text_info" style="width:100px;color: white;">Sunday</h5>
                    <h5 class="text_info"style="color:white;">09:00 - 20:00</h5>
                </span>
            </div>
        </div>
        <div class="footer"style="margin-top:-20">
            <p style="text-align: center;">Medico <i class="fa fa-copyright"></i> 2017 | All Rights Reserved</p>
        </div>
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>

</html>