<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!items || items.length<=0" resetLinkText="Search again"></app-not-found>
<ul>
    <li *ngFor="let item of items">
        <a routerLink="/item/{{item.id}}">
        <img src="{{item.imageUrl}}" alt="item images">
        <div class="content">
            <div class="name">
                {{item.name}}
            </div>
            <span class="favorite {{item.favorite?'':'not'}}">❤</span>
            <div class="product-item-footer">
                <div class="origins">
                    <span *ngFor="let origin of item.origin">
                        {{origin}}
                    </span>
                </div>
            <div class="price">
                {{item.price}}
            </div>
            </div>
        </div>
    </a>
    </li>
</ul>
