.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem;
}
.container > *{
    min-width: 25rem;
    max-width: 40rem;
}
img{
    border-radius: 3rem;
    flex: 1 0;
    /* object-fit: cover; */
    height: 40rem;
    margin: 1rem;
    width: 35rem;
}
.details{
    width: 100%;
    flex-direction: column;
    color:brown
}
.details .name{
    font-size: 2rem;
    font-weight: 500;   
}
.origins{
    color:black
}
.price{
    color:blue;
    font-size: 1.8rem;
    
}
.favorite{
    color: red;
}
button{
    color: white;
    background-color:green;
    width: 10rem;
    height: 3rem;
}
.details .favorite.not{
    color: gray;
}
.price::before{
    content: "Price:";
    color: gray;
}
button:hover{
    opacity: .9;
    cursor: pointer;
}
