.product{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.product-img{
    height: 200px;
    width: 150px;
}
.product:hover .product-actions{
    opacity: 1;
}
.product-actions{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    background-color: rgba(37, 36, 36, 0.815);
    font-weight: bold !important;
}
.product-info-img{
    height: 70vh;
}
.total-ammount{
    background-color: blanchedalmond;
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.total-ammount:hover{
    background-color: brown;
}